*
{
    font-family: 'Roboto', sans-serif;
}

.nav-main
{
    /* box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6);
    background-color: black; */
    
}

.arrow-up
{
    width: 7%;
    height: 7%;
    background-color: orangered;
    bottom: 20px;
    left: 25px;
    border-radius: 20px 20px 20px 20px;
    
}

.arrow-up i {
    font-size: 20px;
    color: white;
}

.logo
{
    width: 6%;
   
}

.bg-img{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-img-black{
    background-color: rgba(0, 0, 0, 0.6);
    
}

.icons-main
{
   padding: 2%;
   border: 2px solid gray;
   border-radius: 50%;
   color: orangered;
   transition: 1s;
   
    
    

}

.icons-main:hover
{
    background-color: white;
}

.button-main
{
    background-color: transparent;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid orangered;
    
}

.button-main:hover
{
    background-color: orangered;
    border: 2px solid orangered;
    --bs-btn-active-bg: rgba(255, 255, 255, 0.5);
    --bs-btn-active-border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon{
color: white;
}

.icons-hover i
{
    transition: 2s;
    color: black;
    width: 20%;
    margin: auto;
    
    border-radius: 50%;
    font-size: 53px;
    padding: 20px;
    
}
.icons-hover h2
{
    transition: 2s;
}

.icons-hover p
{
    transition: 2s;
}

.icons-hover
{
    transition: 2s;
}

.icons-hover:hover i
{
    color: white;
     
}

.icons-hover:hover h2
{
    color: white;
}

.icons-hover:hover p
{
    color: white;
}

.icons-hover:hover 
{
    background-color: black !important;
}


.button-offers button
{

    padding: 20px 60px;
    background-color: transparent;
    border: 2px solid orangered;
    color: orangered;
    --bs-btn-active-bg: rgba(255, 255, 255, 0.5);
   --bs-btn-active-border-color: rgba(255, 255, 255, 0.5);
    /* .btn-primary */
}

.button-offers button:hover
{
    background-color: orangered;
    border: 2px solid white;
    color: white;
}

.hr1
{
    height: 2px;
    background-color: black;
}

.offers-section-icons
{
    font-size: 53px;
}



.offers-section-words
{
    color: orangered;
}

.muted-background
{
    background-color: #F5F5F5;
}

.shadow-container
{
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.6);
    
}

.head-line-style
{
    width: 100%;
}

/* section footer */

.main5
{
    background-color: black;
    display: flex;
    justify-content: center;
    background-position: center center;

}

.main5 h3
{
    font-family: 'roboto';
}

.main5 h2
{
    font-family: 'roboto';
}

.main5 p
{
    font-family: 'roboto';
}

.contener1
{
    
    width: 85%;
    display: flex;
    padding: 50px 0px;
}

.first-section
{
   
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-img
{

    padding-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.footer-img img
{
    width: 50px;
}

.footer-img h2
{
    font-size: 30px;
    color: white;
}

.footer-img h2::after
{
    content: '.';
    font-size: 40px;
    color: orangered;
}

.footer-words
{

    padding: 10px 0px;
    color: white;
}

hr
{
    color: white;
}



.social h3
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.social ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.social a
{
    font-size: 25px;
    color: white;
}

.second-section
{

    padding: 0px 50px;
}

.second-section h3
{
    color: white;
    font-size: 18px;
}

.second-section p
{
    padding: 10px 0px;
    color: white;
}

.second-section input
{
    padding: 15px 20px;
    margin: 8px 0;
    border: 2px solid #555555;  
    border-radius: 4px;
    width: 80%;
}

.second-section button
{
    padding: 15px 20px;
    color: white;
    margin: 8px 0;
    border: 2px solid #CE1212;  
    border-radius: 4px;
   background-color: #CE1212;
   transition: 1s;
}

.second-section button:hover
{
    background-color: red;
}
.links
{

    
}

.links ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    

}

.links li
{
    width: 50%;
    padding: 5px 0px;
    transition: 1s;
}

.links a
{
    text-decoration: none;
    color: white;
    font-size: 16px;

}

.links li:hover
{
    background-color: rgba(127, 127, 144, 0.6)
}

.section-three
{
    padding-left: 10px;
    width: 25%;
}

.section-three h3
{
    padding-bottom: 10px;
    color: white;
}

.section-three li
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;



}

.section-three i
{
    font-size: 22px;
    width: 10%;
    color: #CE1212;
}

.section-three span
{
    padding-left: 10px;
    width: 80%;
    color: white;
}


.success-program
{
    position: fixed;
    top: -10%;
    left: 50%;
    transform: translate(-50%);
    transition: 3s;
    
}

.arabic-icon{
    width: 50px; 
    cursor: pointer;
}






@media screen and (min-width:100px) and (max-width:480px){
    .media-query h3{
        font-size: 13px;
    }

    .media-query h1{
        font-size: 13px;
    }

    .media-query h4{
        font-size: 13px;
    }
    .media-query img{
        width: 100%;
    }

    .media-query i{
        font-size: 5px;
    }

    .media-query{
        text-align: center;
        padding-top: 30px;
    }


}

@media screen and (min-width:481px) and (max-width:576px){
    .media-query{
    text-align: center;
    padding-top: 30px;
}

}

@media screen and (min-width:481px) and (max-width:780px){
    .media-query h3{
        font-size: 18px;
    }

    .media-query h1{
        font-size: 22px;
    }

    .media-query h4{
        font-size: 16px;
    }

    .media-query img{
        width: 100%;
    }

}